/* watching video */

.main{
    background-color: #F9F9F9;;
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(3 ,262px);
    grid-template-columns:repeat(4, minmax(282px, 300px));
    grid-auto-flow: column;
    grid-auto-columns: minmax(282px, 300px);
    gap: 16px;
    padding: 24px;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.infos{
    width: 249px;
    height: 74px;
    display: flex;
    gap: 10px;
}
.video-infos{
    width: 197px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.video-infos h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: left;
}
.video-infos p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;

}
